<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %} | Rectifi! A stereoscopic image rectifier.</title>
  <style type="text/css">
    .request-image {
      max-width: 50%;
      width: auto;
      height: auto;
      display: block;
    }
    .result p {
      font-style: italic;
    }
    .result-image {
      max-width: 50%;
      width: auto;
      height: auto;
      display: block;
    }
    body {
      align-content: center;
      margin: 1em 3em;
    }
  </style>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
