<!DOCTYPE html>
<html>
{% load static %}
<head>
  <title>{% block title %}{% endblock %} | Rectifi! A stereoscopic image rectifier.</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "normalize.css" %}">
  <link rel="stylesheet" href="{% static "skeleton.css" %}">
  <style type="text/css">
    img {
      border: 1px black solid;
    }
  </style>
</head>
<body>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
