{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>{% block title %}Request {{ request.id }} details{% endblock %}</h1>
<a href="{%  url 'rectifi:index' %}">⮢ <i>Return home</i></a>
<h2>Overview</h2>
<ul>
  <li>ID: {{ request.id }}</li>
  <li>Status: {{request.status }}</li>
  <li>Brief: <i>{{ request.brief }}</i></li>
  <li>Requested at <u>{{ request.request_time }}</u></li>
  <li>{{images|length}} Image(s) in this request</li>
  <li>{{results|length}} Result(s) associated with this request</li>
</ul>
<h2>Input Images</h2>
{% if images|length > 0 %}

{% for imgreq in images %}
<img class="request-image" src="{{ imgreq.img.data.url }}" alt="{{imgreq.name}}" /><br />
{% endfor %}
{% else %}
<i>No images to display.</i>
{% endif %}

<h2>Output Data</h2>
{% if results|length > 0 %}
{% for r in results %}
<div class="result"><p>{{ r.notes }}</p><br />
  <img class="result-image" src="{{ r.img.data.url }}" alt="{{r.img.name}}" /></div><br />
{% endfor %}

{% else %}
<i>No results to display. Is status SUB, PRC, or BAD?</i>
{% endif %}

{% endblock %}
