{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>{% block title %}Request {{ request.id }} details{% endblock %}</h1>
<a href="{%  url 'rectifi:index' %}">⮢ <i>Return home</i></a>
<h2>Overview</h2>
<ul>
  <li>ID: {{ request.id }}</li>
  <li>Status: {{request.status }}</li>
  <li>Brief: <i>{{ request.brief }}</i></li>
  <li>Requested at <u>{{ request.request_time }}</u></li>
  <li>{{images|length}} Images in this request</li>
</ul>
<h2>Input Images</h2>
{% if images|length > 0 %}

{% for imgreq in images %}
<img class="request-image" src="{{ imgreq.img.data.url }}" alt="{{imgreq.name}}" /><br />
{% endfor %}
{% else %}
<i>No images to display.</i>
{% endif %}

{% endblock %}
