{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block nav-index %}
<button class="button-primary"><strong>{% block header %}Home{% endblock %}</strong></button>
{% endblock %}

{% block content %}
<div class="row">
<h2>Rectify Images</h2>
<form action="{% url 'rectifi:rectify' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="seven columns">
      <label for="briefInput">Describe your scene</label>
      <input class="u-full-width" type="text" name="brief" id="briefInput" placeholder="Images of [scene] from my smartphone."/>
    </div>
    <div class="five columns">
      <label for="imagesInput">Images</label>
      <input class="u-full-width" type="file" multiple accept='image/*' name="images" id="imagesInput"/><br/>
    </div>
  </div>
<input class="button-primary" type="submit" value="Rectify!"/>
</form>
</div>

{% endblock %}
