{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Rectifi!</h1>

<h2>Rectify Images</h2>
<form action="{% url 'rectifi:rectify' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  Describe your scene:<br/><input type="text" name="brief"/><br/>
  Images: <input type="file" multiple accept='image/*' name="images"/><br/>
  <input type="submit" value="Rectify!"/>
</form>

<hr />

<h2>Previous Requests</h2>
{% if latest_requests %}
  <ul>
  {% for request in latest_requests %}
    {% if request.brief|length > 0 %}
      <li><a href="{%  url 'rectifi:detail' request.id %}">{{ request.brief }}</a></li>
    {% else %}
      <li><a href="{%  url 'rectifi:detail' request.id %}">Rectify Request at {{ request.request_time }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}

{% endblock %}
